datos/Tienda_Alcohol.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="tipoProducto" mixed="true">
    <xs:attribute name="precio" type="xs:string" use="required"/>
    <xs:attribute name="disponible" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:element name="tienda_alcohol">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="alcoholes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="alcohol_no_premium" type="tipoSeccion"/>
              <xs:element name="alcohol_premium" type="tipoSeccion"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="tipoSeccion">
    <xs:all>
      <xs:element name="rones" type="tipoLista"/>
      <xs:element name="Whiskey" type="tipoLista"/>
      <xs:element name="ginebra" type="tipoLista"/>
      <xs:element name="Licores_Gallegos" type="tipoLista" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="tipoLista">
    <xs:choice maxOccurs="unbounded">
      <xs:any processContents="skip"/>
    </xs:choice>
  </xs:complexType>

</xs:schema>